
div{
    padding: 2%;
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: aquamarine;
    background-color: blueviolet;
}


body{
    margin: 0%;
}
